@font-face {
	font-family: "value-serif";
	src: url("../assets/fonts/Value\ Serif\ Pro\ Regular.eot");
	src: url("../assets/fonts/Value\ Serif\ Pro\ Regular.eot")
			format("embedded-opentype"),
		url("../assets/fonts/Value\ Serif\ Pro\ Regular.woff2") format("woff2"),
		url("../assets/fonts/Value\ Serif\ Pro\ Regular.woff") format("woff"),
		url("../assets/fonts/Value\ Serif\ Pro\ Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "value-serif-bold";
	src: url("../assets/fonts/Value\ Serif\ Pro\ Bold.eot");
	src: url("../assets/fonts/Value\ Serif\ Pro\ Bold.eot")
			format("embedded-opentype"),
		url("../assets/fonts/Value\ Serif\ Pro\ Bold.woff2") format("woff2"),
		url("../assets/fonts/Value\ Serif\ Pro\ Bold.woff") format("woff"),
		url("../assets/fonts/Value\ Serif\ Pro\ Bold.ttf") format("truetype");
	font-display: swap;
}

:root {
	--color-primary: #435ca7;
	--color-secondary: #edf8ff;
	--font-title: "value-serif-bold";
	--font-primary: "value-serif";
}

ul {
	padding: 0;
}

hr {
	border-top: 2px solid var(--color-primary);
	opacity: 0.7;
}

.bg-primary {
	background-color: var(--color-primary) !important;
}

.bg-secondary {
	background-color: var(--color-secondary) !important;
}

.bg-gray {
	background-color: #3d4f64;
}

.text-primary {
	color: var(--color-primary) !important;
}

.text-secondary {
	color: var(--color-secondary);
}

.main-title,
.section-title {
	font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
	margin-bottom: 1rem;
}

.main-title {
	font-family: var(--font-title);
}

.section-title-small {
	font-size: clamp(1.3rem, 3vw + 1rem, 2.5rem);
}

.small-text {
	font-size: 14px;
}

.w-90 {
	width: 90%;
}

.btn-primary {
	background: var(--color-primary) !important;
	height: 46px;
}

.btn-outline-dark {
	border-color: #3d5065 !important;
	color: #3d5065 !important;
}

.slider-container {
	overflow: hidden;
	position: relative;
}

.slider-track {
	transition: transform 0.3s ease;
}

.slider-controls {
	position: absolute;
	bottom: 7px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.slider-controls-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.slider-controls-center .next-btn {
	position: absolute;
	right: -8px;
}

.slider-controls-center .prev-btn {
	position: absolute;
	left: -8px;
}

.prev-btn svg,
.next-btn svg {
	height: 24px;
}

.prev-btn svg path,
.next-btn svg path {
	stroke: #3d4f64;
}

.bg-primary .next-btn svg path,
.bg-primary .prev-btn svg path,
.bg-secondary .next-btn svg path,
.bg-secondary .prev-btn svg path,
.bg-gray .next-btn svg path,
.bg-gray .prev-btn svg path {
	stroke: #fff;
}

.btn:disabled {
	outline: none;
	border: none;
}

.text {
	font-family: var(--font-primary);
}

body {
	font-family: var(--font-primary);
	letter-spacing: 0.5px;
	color: #3d5065;
	scroll-behavior: smooth;
}

/* Navbar */
.navbar-brand svg {
	width: 150px;
	fill: #fff;
}

.sub-title-light {
	font-weight: 400;
}

@media (max-width: 768px) {
	.navbar {
		padding-block: 0.5rem;
	}

	.navbar-brand {
		display: none;
	}

	.navbar-offer {
		margin: auto;
	}
}

.navbar .btn {
	width: 102px;
	text-transform: uppercase;
}

/* HERO */
header {
	position: relative;
}

.hero {
	height: calc(90vh - 72px);
	position: relative;
	overflow: hidden;
}

.banner-image {
	position: absolute;
	inset: 0;
	background-color: #76b6cd;
	background-image: url(../assets/images/hero.webp);
	background-size: cover;
	background-position: center right;
	z-index: -1;
}

.banner-image svg {
	right: 11.3%;
	position: absolute;
	top: 28%;
}

.sub-title {
	font-family: var(--font-primary) !important;
	text-transform: capitalize;
	font-weight: 600;
	font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
	margin-bottom: 1rem;
}

.reviews {
	gap: 0.75rem;
}

.stars {
	gap: 0.25rem;
}

.stars svg {
	width: 20px;
	height: 20px;
}

.scroll-down {
	background-color: var(--color-primary);
	border-radius: 50%;
	width: 56px;
	height: 56px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	.hero {
		height: calc(90vh - 62px);
	}
	.banner-image {
		background-image: url(../assets/images/hero-mobile.webp);
		bottom: -110px;
		right: -55px;
	}
	.banner-image svg {
		right: calc(11.3% + 55px);
		top: calc(28% + 110px);
	}
}

@media (max-width: 492px) {
	.hero {
		object-position: -5px;
	}
	.hero .container {
		text-align: center;
	}
	.hero .row.px-5 {
		align-items: flex-start !important;
		padding: 2rem 0 !important;
	}
	.hero .reviews {
		justify-content: center;
	}
}

/* section */
.sub-text {
	text-align: justify;
	text-align-last: center;
	font-size: 18px;
	font-weight: 600;
}

/* .slider-track {
	overflow: hidden;
} */

.testimonial .slider-track {
	gap: 1rem;
}

.slide {
	flex-direction: column;
}

.testimonial .slide {
	justify-content: space-between;
}

.testimonial .content {
	font-weight: 600;
}

.testimonial img {
	margin-top: 1rem;
	width: 200px;
	margin-inline: auto;
}

/* .benefits {
	font-family: "pier-sans";
} */

.benefits .logo {
	width: 120px;
}

/* product */
.product-offer {
	background-color: #effaff;
	text-transform: capitalize;
}
.product-image {
	object-fit: cover;
}

.product-info {
	font-weight: 600;
}

.product-price {
	font-size: 1.6rem;
	font-family: var(--font-title);
}

.savings {
	font-size: 1.5rem;
	color: #a2a2a2;
	text-decoration: 1px solid line-through;
}

.product-description li {
	gap: 0.5rem;
}

.payment-options {
	justify-content: center;
	gap: 0.5rem;
}

.payment-options img {
	width: 40px;
	height: 30px;
	border-radius: 2px;
	object-fit: cover;
}

.product-features img {
	width: 60px;
	display: block;
	margin-inline: auto;
}

.product-features .text {
	font-size: 14px;
	font-family: "pier-sans";
	letter-spacing: 0;
}

.ad:first-of-type {
	flex-direction: row-reverse;
}

.ad-content .text {
	font-weight: 600;
	text-align: justify;
	font-size: 17px;
}

.transform {
	position: relative;
}

.bg {
	position: absolute;
	inset: 0;
	height: 46%;
	z-index: -1;
}

.compare .slide .content {
	border-radius: 4px;
}

.compare .slide .stars {
	align-items: center;
}

.compare .slide .stars svg {
	width: 18px;
}

.compare tr:nth-child(even) th,
.compare tr:nth-child(even) td {
	background-color: var(--color-secondary);
}

.compare thead th:nth-child(2) {
	border: 2px solid var(--color-primary);
	border-bottom: 0;
}

.compare td:nth-child(2) {
	border: 2px solid var(--color-primary);
	border-block: 0;
}

.compare tr:last-of-type td:nth-child(2) {
	border-bottom: 2px solid var(--color-primary);
	padding-bottom: 1rem;
}

.compare table svg {
	height: 24px;
	width: 24px;
}

.other-benefits .slide img {
	max-height: 80px;
	width: auto;
}

.other-benefits .slide .content {
	margin-bottom: 0;
}

.customers .col-md-4:last-of-type {
	display: none;
}

.comparison-chart {
	overflow-x: auto;
}

.follow .btn {
	border-width: 4px;
	padding-block: 0.7rem;
}

/* Faq */
.accordion-item,
.accordion-item:first-of-type,
.accordion-item:last-of-type {
	color: inherit;
	background-color: inherit;
	border-bottom: var(--bs-accordion-border-width) solid var(--color-primary) !important;
	padding-bottom: 1px;
}

.accordion-button {
	color: #3d5065;
	font-weight: 600;
	background-color: var(--color-secondary);
	padding-inline: 0;
}

.accordion-button:focus {
	outline: none;
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	background-color: inherit;
}

.accordion-button::after {
	background-image: url(../assets/icons/plus.svg);
}
.accordion-button:not(.collapsed)::after {
	background-image: url(../assets/icons/line-svgrepo-com.svg);
	transform: none;
}

@media (max-width: 1024px) {
	.ad-content,
	.ad-image.px-5 {
		padding-inline: 0 !important;
	}
}

@media (max-width: 768px) {
	.why .sub-text {
		padding-inline: 0.5rem;
	}
	.testimonial .slider-track {
		justify-content: flex-start;
		padding-inline: 1rem !important;
	}

	.pros .slider-track {
		padding-inline: 0 !important;
		gap: 0.75rem;
	}

	.pros .slide {
		height: 320px !important;
		/* overflow: hidden; */
		padding-inline: 0.5rem !important;
	}

	.pros .slide img {
		margin-inline: 0 !important;
	}

	.pros .slide .sub-title-secondary,
	.pros .slide .content {
		text-align: left;
	}

	.transform .ps-5 {
		padding-left: 0 !important;
	}

	.transform .pe-5 {
		padding-right: 0 !important;
	}

	.transform .pt-5 {
		padding-top: 1rem !important;
	}

	.py-5 {
		padding-block: 1rem !important;
	}

	.transform .w-75 {
		width: 100% !important;
	}

	.mb-5 {
		margin-bottom: 1.5rem !important;
	}

	.bg {
		height: 66%;
	}

	.transform .section-title-small {
		padding-top: 1rem;
		margin-bottom: 1rem !important;
	}

	.transform .ad-image {
		padding: 0 !important;
	}

	.transform .ad-content .text {
		margin-bottom: 0 !important;
	}

	.compare table {
		width: 100% !important;
	}

	.customers {
		padding-inline: 0 !important;
	}

	.customers .col-md-4:last-of-type {
		display: block;
	}
}

@media (max-width: 492px) {
	.compare .slide.px-4 {
		padding-inline: 0.5rem !important;
	}
}

@media (max-width: 768px) {
	.p-5,
	.sm-p-5 {
		padding: 1.5rem !important;
	}

	.px-5,
	.sm-px-5 {
		padding-inline: 1.5rem !important;
	}

	.pb-5,
	.sm-pb-5 {
		padding-bottom: 1.5rem !important;
	}

	h3.section-title-small.w-75 {
		width: 100% !important;
	}

	.slider-controls {
		display: block;
	}
}
